<%- include('./partials/header') %> 
<div class="welcome">
  <h2>Welcome to Uplift</h2>
  <p><strong>Uplift's</strong> mission to promote safe, healthy, and thriving communities is upheld by providing one-stop access to mental health resources in your local area.</p>
  <p>You may browse through different services and programs, create your own program, and leave reviews for any services or programs you have attended.</p>
  <p>Please log in with your Google account to gain full access of <strong>Uplift</strong>.</p>
</div>
<%- include('./partials/footer') %>