* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: rgb(111, 111, 111);
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h2 {
  text-align: center;
  margin-top: 0; 
  padding-top: 0;
}

body {
  margin: 0;
  height: 100vh;
}
.welcome {
  align-items: center;
  text-align: center;
  margin: 10px 250px;
}

.welcome p {
  font-style: italic;
}

#page-container {
  position: relative;
  min-height: 100vh;
  /* display: flex; */
}

#content-wrap {
  padding-bottom: 3rem;    /* Footer height */
}

.nav-container {
  position: fixed;
  top: 0;
  width:100%;
  z-index: 1;
} 

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 250, 250, 0.75);
}

nav img {
  width: 40px;
  margin: 1px 12px;
}


nav a {
  padding: 16px;
  font-size: 18px;;
  font-family: 'Poppins', sans-serif;
  color: rgb(100, 100, 100);
  text-shadow: 1px 1px 2px rgb(102, 102, 102);
  text-decoration: none;
}

nav a:hover {
  color:rgb(248, 239, 228);
  text-shadow: 1px 1px 2px rgb(66, 65, 65);
}

.header-container {
  position: relative;
  text-align: center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  color:rgb(248, 239, 228);
  text-shadow: 10px 10px 10px rgb(66, 65, 65);
}

.header-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.program-container {
  padding: 0 60px;
  margin: 0 80px;
}

.form-section {
  margin: 10px 0;
}

.row {
display: flex;
justify-content: space-around;
flex-flow: wrap;
gap: 50px;
}

.card {
  width: 20%; 
  height: 230px;
  border: 1px solid #ccc;
  margin-bottom: 0px;
  background-color: white;
  box-shadow: 3px 3px 10px rgb(107, 107, 107);
  text-align: center;
}

.program-container a, .edit-delete a, .edit-delete button {
  text-decoration: none;
  color: rgb(248, 239, 228);
  text-shadow: 1px 1px 4px rgb(55, 55, 55);
  
}
.card-title {
  background: linear-gradient(to top right, rgb(78, 168, 216) 10%, rgb(169, 214, 234) 90%);
  height: 70px;
  padding: 5px;
  font-size: 20px;
  color: rgb(248, 239, 228);
  text-shadow: 2px 2px 4px rgb(55, 55, 55);
}

.card button, .edit-delete button {
  margin: 30px 5px;
  padding: 5px 10px;
  background: linear-gradient(to top left, rgb(78, 168, 216) 10%, rgb(169, 214, 234) 90%);
  border: solid 1px rgb(169, 214, 234);
} 

button:hover, input[type=submit] {
  cursor: pointer;
}

.card button:hover, input[type=submit]:hover, .edit-delete button:hover {
  background: linear-gradient(to top left, rgb(69, 69, 69) 10%, rgb(153, 153, 153) 90%);
}

.bottom-card {
  padding: 0 5px;
  font-size: 14px;
}

.no-programs {
  display: flex; 
  justify-content: center;
  margin-top: 60px;
  font-size: 18px;
}

.new-program, .edit-program, .show-container {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  font-size: 14px;
}

.show-container {
  margin: -20px 300px 0 300px;
  padding: 0 14px; 
}

.show-title {
  text-align: center;
}

.show-title h3, h4 {
  margin-bottom: 0;
}

.show-program h4 {
  margin-top: 30px;
}

.location, .review-content {
  font-style: italic;
}

.form-input > input, .form-input > select, textarea, input[type=submit]{
  width: 300px;
  border-radius: 8px;
  border:rgb(150, 145, 145) solid 1px;
}

input[type=submit] {
  color: rgb(248, 239, 228);
  text-shadow: 1px 1px 4px rgb(55, 55, 55);
  background: linear-gradient(to top left, rgb(78, 168, 216) 10%, rgb(169, 214, 234) 90%);
}

.review-flex-container {
  display: flex;
  justify-content: space-around;
}

.all-reviews img, .row img {
  width: 13px;
  opacity: 0.6;
}

.all-reviews button {
  border: none;
  background-color: white;
}

.all-reviews {
  height: 3px;
  font-size: 13px;
  padding: 0;
}

.review-date, .review-user {
  font-size: 11px;
  margin-bottom: -2px;
}

.review-content {
  margin-top: 5px;
}

.review-container {
  margin: 5px 0 15px;
}

.all-reviews button:hover {
  opacity: 0.5;
}

.radio-group {
  display: inline-block;
  text-align: center;
}
.radio-group label {
  display: block;
}

.edit-delete {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.edit-delete button {
  border-radius: 8px;
  padding: 5px 15px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
  font-size: 12px;
  margin: 5px 0 0;
  padding: 20px 0 20px;
  /* border: 1px red solid; */
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  color:rgb(183, 181, 181);
}