@import "compass/css3";


.form-section{
  margin: 10px 0;
}

.form-label{
  float: left;
}

.row{
display: flex;
justify-content: space-around;
flex-flow: wrap;
}

.card{
  width: 18%; 
  height: 230px;
  border: 1px solid #ccc;
  margin-bottom: 50px;
}

.radio-group {
  display: inline-block;
  text-align: center;
}
.radio-group label {
  display: block;
}